/* Universal Styles */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", Sans-serif;
}

body {
  background: url(assets/bg.jpg);
  background-repeat: repeat;
}

/* Header/Nav */
header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: #5e6484;
  justify-content: space-between;
  padding: 15px 0 20px 0;
  border-bottom: 5px solid #6d85ff;
}

.logo,
nav {
  display: inline;
}

.logo {
  width: 100px;
  margin: 0 20px;
}

.logo {
  max-width: 75px;
  padding-top: 10px;
}

a {
  color: white;
}

nav {
  margin: auto 0;
  width: 620px;
}
/* Basic links */
nav a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  margin: 0 1rem;
}

.about:hover {
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid white;
}
/* Connect wallet link */
#connectDT,
#connect {
  background: rgba(241, 92, 206, 1);
  border-radius: 25px;
  padding: 15px;
  color: #fff;
}

.connect:hover {
  transition: all 0.3s ease-in-out;
  background: #eee;
  color: rgba(241, 92, 206, 1);
  text-decoration: none;
}

/* twitter */
.fa-twitter:hover {
  transition: all 0.3s ease-in-out;
  color: #1da1f2;
}

.fa-instagram:hover {
  transition: all 0.3s ease-in-out;
  color: #bc2a8d;
}

.fa-discord:hover {
  transition: all 0.3s ease-in-out;
  color: #7289da;
}
/* Overlay for mobile menu */

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform: translateY(-100vh);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateY(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateY(-100vh);
}

/* Menu Bars */
.menu-bars {
  position: fixed;
  top: 40px;
  right: 2rem;
  z-index: 20;
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 4px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 10px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -10px);
}

/* Mobile meun styling */

.mobile-container {
  position: relative;
  top: 100px;
  padding-top: 50px;
  background: #5e6484;
  padding-bottom: 20px;
  border-bottom: 5px solid #6d85ff;
}

#overlay a.mobile {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  display: block;
  color: #fff;
}

#overlay a.connect {
  width: 400px;
  margin: 0 auto 1rem auto;
}

#overlay a.connect:hover {
  color: #bc2a8d;
}

.social-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 200px;
}

#twitter,
#ig,
#discord {
  max-width: 200px;
  display: inline;
  color: black;
  font-size: 2rem;
}
/* Modal styling */
#modal-overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-box {
  width: 400px;
  height: 400px;
  color: black;
  border-radius: 25px;
  padding: 20px;
  background-image: url(assets/bg_pink.jpg);
}

.close {
  float: right;
  font-size: 32px;
  position: relative;
}

.close:hover,
.close:focus {
  color: dodgerblue;
  text-decoration: none;
  cursor: pointer;
}

#modal-overlay h3:first-of-type {
  margin-top: 100px;
}

.modal-box h3 {
  width: 100%;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

form {
  outline: 1px solid red;
}

label {
  font-size: 24px;
  margin: 0 auto;
}

select {
  background-color: #85ec3b;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}

.select {
  outline: 1px solid blue;
  display: inline-block;
  margin: 0 auto;
  align-self: center;
}

button {
  display: block;
  margin: 0 auto;
}

/* JUMBTRON MINT SECTION */
section#mint {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  min-width: 99vw;
  min-height: 100vh;
  color: rgb(245, 138, 220);
}

.jumbo-container h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.jumbo-container h2 {
  font-size: 1.25rem;
  color: rgb(245, 138, 220);
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 0 auto 2rem auto;
  max-width: 600px;
}

.jumbo-container a {
  background: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: block;
  margin: 25px auto;
  width: 150px;
  text-align: center;
  border-radius: 40px;
  letter-spacing: 1px;
  font-size: 1.25rem;
  color: rgb(135, 20, 108);
  background: #85ec3b;
}

.jumbo-container a:hover {
  transition: all 0.3s ease-in-out;
  filter: brightness(80%);
}

.hunter,
.by,
.warm {
  display: inline-block;
  padding: 0;
  margin: 0;
  /* outline: 1px solid blue; */
  letter-spacing: 0;
}

.hunter span,
.by span,
.warm span {
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
  letter-spacing: 0;
  float: left;
}

/* crazy css animation */

@keyframes moving {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.one {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #ff7b90;
}

.two {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #fff83b;
  animation-delay: 0.25s;
}

.three {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #e1922d;
}

.four {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #eb2d21;
  animation-delay: 0.5s;
}

.five {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #61a631;
}

.six {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #a73bde;
  animation-delay: 0.25s;
}

.seven {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #ffaeba;
}

.eight {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #382de1;
  animation-delay: 0.5s;
}

.nine {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #fef840;
}

.nine {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #85ec3b;
  animation-delay: 0.25s;
}

.ten {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #fff742;
}

.eleven {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #3fc6da;
  animation-delay: 0.5s;
}

.twelve {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #e1922d;
}
.thirteen {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #61a631;
  animation-delay: 0.25s;
}

.fourteen {
  -webkit-animation: moving 5s infinite;
  animation: moving 2s infinite;
  color: #ff7b90;
}

/* About section */

#about {
  background-image: url(assets/bg_pink.jpg);
  min-height: 100vh;
  width: 100vw;
  color: #000;
  display: flex;
  font-size: 18px;
  flex-direction: column;
}

.about-container {
  width: 70%;
  margin: 160px auto;
}

.float-left {
  float: left;
  margin: 25px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
}

.float-right {
  float: right;
  margin: 25px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
}

#about h1 {
  font-size: 5rem;
  text-align: center;
  width: 100%;
  height: 100px;
  display: block;
}

.hunter-container,
.keller-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px 0;
}

#about img {
  width: 400px;
  height: 400px;
}

.text {
  padding: 0 25px 25px 25px;
  line-height: 1.5;
}

/* footer */
footer {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 0.8rem;
  padding: 40px 0;
}

/*media queries*/

@media (max-width: 1007px) {
  #about h1 {
    font-size: 3rem;
  }
}

@media (max-width: 981px) {
  #about img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 750px) {
  nav {
    display: none;
  }

  .menu-bars {
    display: inline;
  }

  .jumbo-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: -20px;
  }

  .jumbo-container h1 {
    font-size: 3.5rem;
  }
  .jumbo-container h2 {
    font-size: 1rem;
  }

  .hunter-container,
  .keller-container {
    flex-direction: column;
  }

  .about-container {
    width: 95%;
  }
}

@media (max-width: 534px) {
  #about h1 {
    font-size: 2rem;
    height: 30px;
  }

  #about img {
    width: 50%;
    height: 50%;
    margin: 0px 25% 30px 25%;
    padding: 0px;
  }

  #about p {
    text-align: justify;
  }

  #about h2,
  #about h3 {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .jumbo-container h1 {
    font-size: 40px;
  }
}

@media (max-width: 375px) {
  .jumbo-container {
    top: 100px;
  }

  #connect {
    max-width: 100%;
  }
}
